html, body {
    height: 100%;
}
body {
    font-family: Arial,Helvetica,sans-serif;
}
input:focus {
    outline: none;
}
table {
    border-collapse: collapse;
}
td {
    background-clip: padding-box;
}
td .truncate {
    width: 270px;
}
i.fa-trash-o {
    top: 10px;
    right: 5px;
}
.button {
    top: -2px;
    left: 2px;
}
.cursor {
    cursor: pointer;
}
.capitalize {
    text-transform: capitalize;
}
.metahead {
    display: none;
}
.w100 {
    width: 100%;
}
::-webkit-input-placeholder {
   text-align: center;
}
.bg-darkblue {
    background-color: darkblue;
}
.bg-lavender {
    background-color: lavender;
}

@media screen and (max-width: 768px) {
    table, button {width:100%;}
    table {border-bottom: 1px solid gray; }
    thead tr td, thead tr td div, .metahead.mobile {display: none;}
    thead tr td:first-child {display: block; background-color: #fff;margin-bottom: 10px; text-align: center;}
    thead tr td div:first-child {display: block; color: #000;}
    tr, td {background-color: #fff}
    tr td:first-child {background: darkblue; color: #fff;font-weight:bold;font-size:inherit;}
    tbody td {display: block;  text-align:center; border-bottom: 0 !important;}
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
    td .truncate {
        width: auto;
    }
    input[type='text'] {
        padding: 15px;
    }
    button {
        text-align: center;
    }
    .metahead {
        display: block;
        font-style: italic;
    }
    .button {
        padding: 15px;
        position: static;
    }
    .btn-container {
        text-align: center;
    }
}
