html, body {
    height: 100%;
}
body {
    margin: 0;
    background: linear-gradient(to bottom, #ffffff 18%, #cccccc 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #909090;
    font-family: Arial,Helvetica,sans-serif;

}
input:focus {
    outline: none;
}
table {
    border-collapse: collapse;
}
.cursor {
    cursor: pointer;
}
tbody tr:nth-of-type(2n) {
    background-color: #e9e9e9;
}
td .truncate {
    width: 286px;
}
i.fa {
    top: 2px;
    right: 2px;
}
