html, body {
    height: 100%;
}
body {
    font-family: Arial,Helvetica,sans-serif;
}
input:focus {
    outline: none;
}
table {
    border-collapse: collapse;
}
td {
    background-clip: padding-box;
}
td .truncate {
    width: 270px;
}
i.fa-trash-o {
    top: 10px;
    right: 5px;
}
.button {
    top: -2px;
    left: 2px;
}
.cursor {
    cursor: pointer;
}
.capitalize {
    text-transform: capitalize;
}
.metahead {
    display: none;
}
.w100 {
    width: 100%;
}
::-webkit-input-placeholder {
   text-align: center;
}
.bg-darkblue {
    background-color: darkblue;
}
.bg-lavender {
    background-color: lavender;
}

@media screen and (max-width: 768px) {
    table, button, td .truncate {
        width:100%;
    }
    thead tr td, thead tr td div, .metahead.mobile, .macro-totals thead tr:first-child {
        display: none;
    }
    thead tr td:first-child {
        display: block;
        background-color: #fff;
        margin-bottom: 10px;
        text-align: center;
    }
    thead tr td div:first-child, tbody td, .metahead {
        display: block;
    }
    tr, td {
        background-color: #fff;
    }
    tr td:first-child {
        font-weight:bold;
        font-size:inherit;
    }
    tbody td {
        text-align:center;
        border-bottom: 0 !important;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
    input[type='text'], .button{
        padding: 15px;
    }
    input[type='text'], button, .btn-container {
        text-align: center;
    }
    .metahead {
        font-style: italic;
    }
    .button {
        position: static;
    }
    .mobile-food-name {
        background-color: darkblue;
        color: #fff;
    }
    .macro-totals {
        border-bottom: 1px solid gray;
    }
}
